body{
     font-family: Arial, sans-serif;
     text-align: center;
     background-color: #476554;
     background-image: url(cup\ of\ tea.webp);
     background-size: cover;
     align-items: center;
     position: relative;
}

header {
    padding: 20px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    border: 1px dotted;
    border-radius: 15px;
    box-shadow: 0 0 10px;
    line-height: 1.5;
}

#word {
    font-style: italic;
    font-weight: bold;
}
main {
    max-width: 800px;
    margin: 40px auto;
}

#get-message-btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#get-message-btn:hover {
    background-color: #3e8e41;
}

#zodiac-signs, #colors-1 {
    margin-bottom: 40px;
}
#zodiac-select {
    padding: 20px;
    border: 1px solid green;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: #f0f0f0;
    border-radius: 10px;
    background: transparent;
}

#message {
    margin-top: 40px;
}

#message-text {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
#color-select {
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
    background-color: lightgreen;
    border: 1px solid green;
    background: transparent;
    font-size: 0.9rem;
}
#color-id{
    font-weight: bold;
    color: darkgreen;
}

#word-1 {
    font-weight: bold;
}
#zodiac-signs-2, #colors-2{
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    font-weight: bold;
    color: darkgreen;
}

#foot{
    color: #fff;
}