body{
    font-family: Arial, sans-serif;
    text-align: center;
     background-color: #f0f0f0;
}
header {
    padding: 20px;
    background-color: #fdfff5;
}

#word {
    font-style: italic;
    font-weight: bold;
    font
}
main {
    max-width: 800px;
    margin: 40px auto;
}
#colors {
    margin-bottom: 40px;
}
#get-message-btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#get-message-btn:hover {
    background-color: #3e8e41;
}

#zodiac-signs, #colors {
    margin-bottom: 40px;
}
#zodiac-select {
    padding: 20px;
    border: 1px solid green;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: #f0f0f0;
    border-radius: 5px;
}

#message {
    margin-top: 40px;
}

#message-text {
    font-size: 24px;
    font-weight: bold;
}
#color-select {
    font-weight: bold;
    padding: 20px;
    border-radius: 5px;
    background-color: #f0f0f0;
    border: 1px solid green;
}
#color-id{
    font-weight: bold;
}

#word-1 {
    font-weight: bold;
}